
body{
    margin: 0;
}
.contenedor{
    background-color: rgba(122,123,123,0.2);
}
.uno{
    background-color: red;
    width: 49%;
    display: inline-block;
}
.dos{
    background-color: green;
    width: 49%;
    display: inline-block;
}
.tres{
    background-color: orange;
    display: inline;
}
.cuatro{
    background-color: yellow;
    display: inline;
}
