
body{
    margin: 0;
}
.forma1{
    background-color: purple;
    width: 250px;
    height: 250px;
    /*font-size: 2rem;*/
    padding: 125px 50px 25px 75px;
    border:12px solid yellow;
    margin: 25px 12px;

}
.span1{
    background-color: aqua;/*Todo funciona menos el with y el height*/
    color: white;
    padding: 25px;
    border: 15px solid orange;
}
.span2{
    background-color: green;
    color: white;
    width: 350px;
}
/*.forma2{
    background-color: rgb(221, 90, 112);
    width: 100vw;
    height: 100vh;
    color: white;
}